@import url(https://fonts.google.com/share?selection.family=Spicy+Rice);

body {
    background-color: azure;
    color: rgb(10, 75, 53);
fon



}


footer {
background-color: rgb(8, 243, 243);
color: rgb(10, 10, 248);
font-weight: 900;
}